*{
    margin: 0;
}
body{
    font-family: "Roboto Condensed";
    text-align: justify;
    margin: 0px;
    padding: 0px;
}
.container{
    padding: 10px;  
    text-align: justify;
    margin: 0px;
    padding: 0px;  

}
#mobile{
    font-size: 25px;
}
#strong{
    font-size: 45px;
    
}

#h1ti{
    color: rgb(2, 151, 151);
    font-size: 80px;
}

#h1h{
    color: grey;
    font-size: 45px;
}

#h31{
    font-size: 45px;
}

#img1{
    width: 100%;
    max-width: 300px;
}

#img2{
    width: 100%;
    max-width: 300px;
}

#img3{
    width: 100%;
    max-width: 300px;
}

#h3have{
    text-align: left;
}

.negro{
    background-color: black;
    color: white;
    margin: 0px;
    padding: 0px;
}
.lila{
    background-color: rgb(207, 175, 255);
    color: rgb(0, 0, 0);
    margin: 0px;
    padding: 0px;
}
.row{
    margin: 0px;
    padding: 0px;
}

.baige{
    background-color: rgb(255, 245, 192);
    color: rgb(0, 0, 0);
    margin: 0px;
    padding: 0px;
}

.azul{
    background-color: rgb(188, 243, 255);
    color: rgb(0, 0, 0);
    margin: 0px;
    padding: 0px;
}



