* {
    margin: 0;
    padding: 0;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: "Roboto Condensed";
    text-align: justify;
}

.container-fluid {
    padding: 0; /* Elimina el padding del contenedor */
}

#mobile {
    font-size: 25px;
}

#h1ti {
    color: rgb(2, 151, 151);
    font-size: 80px;
}

#h31 {
    font-size: 45px;
}

#img1, #img2, #img3 {
    width: 100%;
    max-width: 300px;
}

#h3have {
    text-align: left;
}

.negro {
    background-color: black;
    color: white;
}

.row {
    margin: 0;
    padding: 0;
}

.baige {
    background-color: rgb(255, 245, 192);
    color: rgb(0, 0, 0);
}

.azul {
    background-color: rgb(188, 243, 255);
    color: rgb(0, 0, 0);
}

.row.lila {
    background-color: #f4f0ff; /* Fondo lila claro */
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    padding: 40px 0; /* Espaciado superior e inferior */
}

.row.lila .col-sm-12.col-lg-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px; /* Espaciado interno */
}

#strong {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 10px;
}

#h1h {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 10px;
    color: gray;
}

.row.lila img,
.row.baige img,
.row.azul img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para la imagen */
}

.row.baige,
.row.azul {
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    padding: 40px 0; /* Espaciado superior e inferior */
}

.row.baige .col-sm-12.col-lg-6,
.row.azul .col-sm-12.col-lg-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px; /* Espaciado interno */
}

